* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top {
    font-family: "Dela Gothic One", sans-serif;
    color: white;
    background-color: #1E2A38;
    border-bottom: #E4A39A;
    display: flex;
    align-items: center;
    height: 60px;
    gap: 40px;
}

.top1 {
    padding-left: 10px;
    /*mexer no tamanho*/
}

.top2 {
    padding-left: 18px;
    padding-top: 7px;
    font-size: 15px;
}

.top3 {
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 40px;
    overflow: hidden;
    display: flex;
}

.top3 input {
    flex: 1;
    padding: 8px 10px; /* ajuste vertical para 8px para centralizar */
    border: none;
    outline: none;
    font-size: 14px;
}

.top3 button {
    background: #1E2A38;
    color: white;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
}

.top3 button:hover {
    background: #16202C;
}

.top4 {
    font-size: 15px;
}

.top5 {
    display: flex;
}

body {
    background-color: #F2E5D5;
}