* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top {
    background-color: #2B4C7E;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 40px;
    padding-top: 30px;
    height: 120px;
    padding-bottom: 60px;
    padding-left: 10px;
}

.Fale_conosco{
    padding: 40px;
    font-size: 20px;
}