<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mangazine>Fale_conosco</title>
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
        <link href="/static/style_fc.css" rel="stylesheet">
    </head>
    <body>
        <header class="top">
            Alguma dúvida? Fale conosco!
        </header>
        <main class="mind">

            <form class="Fale_conosco">
                <h1>Sua pergunta:</h1>
                <input
                    type="text"
                    class="talk"
                    id="talk-input-talk"
                    placeholder="Digite aqui."
                >
                <h1>Seu e-mail:</h1>
                <input
                    type="text"
                    class="talk"
                    id="talk-input-talk"
                    placeholder="Digite aqui."
                >
                <button type="submit" class="talk1">Continuar</button>
            </form>
        </main>
    </body>
</html>