<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/static/style.css" rel="stylesheet">
        <title>Manganize</title>
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
        <script src="/static/script.js"></script>
    </head>
    <body class="topmind">

        <header class="top">        <!--Header começa-->
            <h1>Venha dar uma <b class="top1">FINALIDADE</b> aos seus Mangás na <b class="top1">MANGAZINE</b>!</h1>
        </header>               <!--Header acaba-->

        <aside class="sidebar">     <!--Aqui começa a sidebar-->
            <div class="topSB">
                <button class="BL" onclick="ToggleEvent()">☰</button>
            </div>
            <div class="midSB">
                <a href="index.html">Início <img src="home.png" alt="" class="img1"></a>
                <a href="Fale_conosco.html">Meus anúncios <img src="megafone.png" alt="" class="img2"></a>
                <a href="pasta3">Fale conosco <img src="chat.png" alt=""></a>
            </div>    
        </aside>         <!--Aqui acaba a sidebar-->

        <div class="topnav">        <!--Topnav 1 começa-->
            <div class="esp">Tópicos</div>
                <a href="1.1">Fantasia</a>
                <a href="1.2">Shounen</a>
                <a href="1.3">SOF</a>
        </div>          <!--Topnav 1 acaba-->
    </body>
</html>